.pomodoro-todo {
    background: #f26c67;
    width: 80%;
    margin: 10%;
    padding: 32px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


    font-family: Arial;
    color: white;

    .header-wrapper {
        font-weight: bold;
        font-size: 24px;
        border-bottom: solid white 3px;
    }
    
    .list-wrapper {
        padding-top: 10px;

        .list-items{
            display: flex;
            flex-direction: column;
        }

        .new-item-form {
            background: white;
            margin: 0.5em 0;
            padding: 10px 5px;
            border-radius: 10px;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
            color: black;
            display: flex;
            flex-direction: column;

            label {
                font-weight: bold;
                font-size: 18px;
            }

            input {
                font-size: 14px;
                line-height: 16px;
            }

            .form-footer {
                margin-top: 1em;
                display: flex;
                flex-direction: row-reverse;

            }
            
        }

        .button-wrapper {
            height: 50px;
            margin: 0.5em 0;
            padding: 3px 5px;
            border-radius: 10px;
            border: #a8302c dashed 3px;

            display: flex;
            align-content: center;
            align-items: center;

            .text-wrapper {
                margin: auto;
                align-self: center;
                display: flex;

                .add-icon {
                    display: flex;

                    svg {
                        fill: white;
                    }
                }

                p {
                    margin: auto;
                }
                
            }
        }
    }
}